.Profile {
  margin: 4rem 1rem 0 1rem;
}

.Profile > h1 {
  font-size: 3rem;
  font-weight: 100;
}

.Profile > h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.MyNuzlockes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.MyNuzlockes > a {
  text-decoration: none;
  color: black;
}

.MyNuzlockes:hover > a {
  text-decoration: none;
  color: black;
}

.NuzlockePreview {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  height: 8rem;
  min-width: 18rem;
  padding: 1rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.NuzlockePreview:hover {
  transform: scale(1.03);
}

.NuzlockePreview > h4 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 0.2rem;
}

.NuzlockePreview > span {
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
}

.TeamSprites {
  margin-top: 0.5rem;
}

.TeamSprites > span {
  color: grey;
}

.AddButton {
  margin: 1rem 0;
}

.AddNuzlockeDrawer {
  width: 80% !important;
}

.AddNuzlockeForm {
  padding: 1rem;
}

@media (min-width: 800px) {
  .Profile {
    margin: 5rem 8rem 0 8rem;
  }

  .AddNuzlockeDrawer {
    width: 50% !important;
  }

  .AddNuzlockeForm {
    padding: 3rem 6rem;
  }
}
